
<!--ユーザープロフィール-->
<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
     <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
    <!--編集ページへのリンク-->
    <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
</div>	

<%= render 'post_images/list', post_images: @post_images %> 

<!-- @post_images.each ...
コントローラから渡されたpost_images変数内から1つずつ取り出して、post_image変数へ格納します。

 attachment_image_tag post_image...
attachment_image_tagは、refile側が用意したヘルパーで、<img>タグを作成してくれます。
post_image変数のimage_idに保存された画像の<img>タグを生成します。

 post_image.shop_name
post_image変数のshop_nameカラムを表示します。
このカラムは、post_imageモデルに定義されています。

 post_image.caption
post_image変数のcaptionカラムを表示します。
このカラムも、post_imageモデルに定義されています。

 post_image.us er na me
post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示します。
同様にこのカラムも、post_imageモデルに定義されています。-->